/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mano_del_gocho {
  font-family: 'Gochi Hand';
  font-size: 7.5rem;
  line-height: 0.7;
}

body {
  font-family: 'Itim';
}